
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
tests/setup/auth.json

# IDE
.vscode/

# Rapports de test générés
/results/

# Fichiers feature Gherkin (non intégrés)
/features/
